*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(122, 178, 212);
    
}
/*converter */
.converter-wrapper input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
  height: 2.5rem;
  box-sizing: border-box;
  border-radius: 0rem !important;
  
  
}

.converter-wrapper span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  
}

.converter-wrapper span select {
  background-color: /*var(--blue)*/#0c328e78;
  color: #fff;
  font-size: inherit;
  padding: 0.5rem;
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: 0rem;
  cursor: pointer;
  text-indent: 0.01rem;
  text-overflow:" ";
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
}


.converter-wrapper span::before,
.converter-wrapper span::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.converter-wrapper span::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.5em;
  top: 50%;
  margin-top: -.5em;
  color: #fff;
}

.converter-wrapper span::before { /*  Custom dropdown arrow cover */
  width: 2.5em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color:rgb(168, 199, 245) ;
  
}

.converter-side-a,
.converter-side-b {
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
  width: 45%;
}

.converter-equals {
    float: left;
    box-sizing: border-box;
    width: 10%;
    color:black;
    font-size: 2.4em;
    line-height: 0;
    text-align: center;
    padding-top: 4rem;
    text-align: center !important;
    padding-left: 0.8rem;
}

.converter-side-a {
  padding-right: 0.8rem;
}

.converter-side-b {
  padding-left: 0.8rem;
}


.container{
    display:flex;
    align-items: center;
    justify-content: center;
      /* margin-top: 6rem; */
      margin-left: 12rem; 
      padding: 2rem;
      
       
}

h1{
  justify-content: center;
  align-items: center;
   font-size: 3rem;
   margin-top: 3rem;
  margin-left: 32rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(4, 30, 41);
}

/* converter style end */